@charset "UTF-8";

/* 画面情報 */
h1 {
  margin-left: 30%;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
}

/* ページ情報 */
h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

/* システムメッセージ位置調整 */
.sysmsg {
  position: relative;
  left: 130%;
  top: 100%;
}

/* エラーメッセージ */
.ermsg {
  color: red;
  /* 表示位置設定 */
  position: relative;
  left: 70%;
  top: 20px;
  width: 100%;
  /* 改行設定 */
  word-break: normal;
}

/* フレックスボックスでテキストボックスなどを配置 */
.flexcontainer {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  width: 650px;
}

/* 更新ボタン */
button.updatebtn {
  /* 背景の色 */
  background-color: black;
  /* 文字色 */
  color: white;
  /* 枠線色 */
  border-color: black;
  position: fixed;
  top: 35%;
  left: 46%;
  width: 50px;
  height: 25px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
}

/* 削除ボタン */
button.deletebtn {
  /* 背景の色 */
  background-color: black;
  /* 文字色 */
  color: white;
  /* 枠線色 */
  border-color: black;
  position: fixed;
  top: 35%;
  left: 50%;
  width: 50px;
  height: 25px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
}

/* 戻るボタン */
a.backbtn {
  /* 背景の色 */
  background-color: black;
  /* 文字色 */
  color: white;
  /* 枠線色 */
  border-color: black;
  text-decoration: none;
  position: fixed;
  top: 35%;
  left: 54%;
  right: 50%;
  width: 50px;
  height: 25px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
}

/* 商品情報の位置調整(親コンテナ) */
.infoscontainer {
  display: flex-start;
  position: fixed;
  top: 39%;
  left: 30%;
  width: 80%;
}

/* infoscontainerの子アイテムタイトル */
.producttitle {
  /* 文字の間隔調整 */
  letter-spacing: 3px;
}

/* infoscontainerの子アイテム(入力文字系と画像) */
.inputwdsposition {
  position: relative;
  left: 10%;
  bottom: 20px;
  width: 350px;
  direction: ltr;
}

/* infoscontainerの子アイテム(入力数字系) */
.inputnumposition {
  position: relative;
  left: 10%;
  bottom: 20px;
  width: 350px;
  text-align: right;
}

/* 画像 */
img.updatedimg {
  height: 100px;
}