@charset "UTF-8";

/* 画面情報 */
h1 {
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.7rem;
}

/* ページ情報 */
h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

/* システムメッセージ位置調整 */
.sysmsg {
  position: relative;
  left: 21%;
}

/* エラーメッセージ */
.ermsg {
  color: red;
  position: relative;
  left: 19%;
  top: 5%;
  width: 51%;
  word-break: normal;
  display: block;
}

/* 更新ボタン */
button.updatebtn {
  /* 背景の色 */
  background-color: black;
  /* 文字色 */
  color: white;
  /* 枠線色 */
  border-color: black;
  position: fixed;
  top: 15%;
  left: 70%;
  width: 50px;
  height: 25px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
}

/* 削除ボタン */
button.deletebtn {
  /* 背景の色 */
  background-color: black;
  /* 文字色 */
  color: white;
  /* 枠線色 */
  border-color: black;
  position: fixed;
  top: 15%;
  left: 77%;
  width: 50px;
  height: 25px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
}

/* 戻るボタン */
a.backbtn {
  /* 背景の色 */
  background-color: black;
  /* 文字色 */
  color: white;
  /* 枠線色 */
  border-color: black;
  text-decoration: none;
  position: fixed;
  top: 15%;
  left: 84%;
  right: 50%;
  width: 50px;
  height: 25px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
}

/* 商品情報の位置調整(親コンテナ) */
.infoscontainer {
  display: block;
  position: relative;
  margin-top: 4%;
  margin-left: 19%;
  width: 86%;
}

/* infoscontainerの子アイテムタイトル */
.producttitle {
  /* 文字の間隔調整 */
  letter-spacing: 3px;
}

/* infoscontainerの子アイテム(入力文字系) */
.inputwdsposition {
  position: relative;
  left: 9%;
  bottom: 20px;
  width: 57%;
  direction: ltr;
}

/* infoscontainerの子アイテム(入力数字系) */
.inputnumposition {
  position: relative;
  left: 9%;
  bottom: 20px;
  width: 57%;
  text-align: right;
}

/* 画像 */
img.updatedimg {
  height: 100px;
  left: 9%;
  position: relative;
}
