<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>商品情報更新</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/productupdatestyle.css">
    <script type="text/javascript" src="js/productUpdate.js"></script>
  </head>

  <body>
    <h1>商品情報管理システム</h1>
    <h2>商品情報更新</h2>

    <div class="flexcontainer">
      <!-- システムメッセージ -->
      <p><span class="sysmsg" th:text="${message}"></span></p>
        <!-- 戻るボタン -->
      <a href="product-list" class="backbtn" onClick="return backConfirm()">戻る</a>

      <form th:action="@{/product-update}" th:method="delete" th:object="${productInfo}"
      enctype="multipart/form-data">
        <input type="hidden" th:field="*{updateDate}">
        <input type="hidden" th:field="*{productID}">
        <!-- 削除ボタン -->
        <div>
          <button type="submit" class="deletebtn" onClick="return deleteConfirm()">削除</button>
        </div>
      </form>

      <form th:action="@{/product-update}" th:method="put" th:object="${productInfo}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{updateDate}">
        <!-- 更新ボタンボタン -->
        <div>
          <button type="submit" class="updatebtn" onClick="return updateConfirm()">更新</button>
        </div>
        <p><label class="ermsg" th:if="${#fields.hasAnyErrors()}" th:each="err: ${#fields.allErrors()}"
        th:text="${err}"></label></p>

        <div class="infoscontainer">
          <div class="producttitle">商品ID:</div>
          <input class="inputnumposition" type="text" th:field="*{productID}" readonly>

          <div class="producttitle">ジャンル:</div>
          <select class="inputwdsposition" th:field="*{genre}">
            <option th:each="genres: ${T(cooking.enums.GenreEnum).values()}"
            th:value="${genres.genreCode}" th:text="${genres.genreName}">
            </option>
          </select>

          <div class="producttitle">メーカー:</div>
          <input class="inputwdsposition" type="text" th:field="*{maker}">

          <div class="producttitle">商品名:</div>
          <input class="inputwdsposition" type="text" th:field="*{productName}">

          <div class="producttitle">販売価格:</div>
          <input class="inputnumposition" type="text" th:field="*{sellingPrice}">

          <div class="producttitle">商品説明:</div>
          <textarea class="inputwdsposition" th:field="*{productDetail}"></textarea>

          <div class="producttitle">商品画像:</div>
          <input class="inputwdsposition" type="file" th:field="*{multipartFile}"/>
          <div><img class = "updatedimg" th:src="|data:image/png;base64,${productInfo.stringImg}|"></div>
        </div>
      </form>
    </div>

  </body>
</html>