@charset "UTF-8";

/* 画面情報 */
h1 {
  margin-left: 7%;
  margin-top: 2%;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.7rem;
}

/* ページ情報 */
h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
}

/* システムメッセージ左寄せ */
.sys-msg {
  margin-left: 7%;
}

/* エラー(排他制御)メッセージ */
.err-msg {
  color: red;
  margin-left: 7%;
}

/* 商品画像設定 */
img {
  height: auto;
  width: 100px;
}

/* 商品画像欄設定 */
td.pic {
  height: auto;
  width: 100px;
}

/* 商品件数情報右寄せ */
.product-info {
  margin-left: 88%;
}

table {
  width: 90%;
  margin-left: 7%;
  border-collapse: collapse;
  border: 1.5px solid black;
}

td {
  border: solid 1px black;
}

/* テーブル一行目の色 */
th {
  background-color: deepskyblue;
  border: 1px solid black;
}

/* 更新ボタン */
.update-button {
  /* 背景の色 */
  background-color: black;
  /* 文字色 */
  color: white;
  /* 枠線色 */
  border-color: white;
  width: 50px;
  height: 25px;
  margin-left: 19%;
  margin-right: 21%;
}

/* 登録ボタン右寄 */
.register-button {
  margin-left: 91%;
  background-color: black;
  color: white;
  border-color: white;
  width: 50px;
  height: 25px;
}

/* 文字を左寄せに設定 */
.words {
  direction: ltr;
}

/* 数字を右寄せに設定 */
.numbers {
  text-align: right;
}
